RTC_WEBRTC_HOST=0.0.0.0
RTC_WEBRTC_PORT=8080
RTC_DASHBOARD_HOST=127.0.0.1
RTC_DASHBOARD_PORT=8081
RTC_LOCAL_WEBRTC_ORIGIN=https://localhost:8080
RTC_LOCAL_SIGNALING_URL=https://localhost:8080
RTC_DASHBOARD_ORIGIN=http://localhost:8081
RTC_TLS_CERT_PATH=certs/cert.pem
RTC_TLS_KEY_PATH=certs/key.pem
RTC_DATA_DIR=data
RTC_EXPORTS_DIR=data/exports
RTC_TEST_SESSIONS_DIR=data/test_sessions
RTC_CHARTS_DIR=data/charts
RTC_DASHBOARD_ORIGIN_ALLOWLIST=localhost,127.0.0.1,::1
